_private_

function_cxs.pickle
.DS_Store
__pycache__/
.ipynb_checkpoints
.tf
legacy
scratch
.venv
.env
venv
env
*.swp
.snakemake

# MS Office files

*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

